h1 align="center"
    |Listing all articles
div align="center"
    =form_with url: "/articles", method: :get do |form|
        div 
            =form.select "order", [["ascending","ASC"], ["decending","DESC"]], {}, {class: 'form-control select-order'}
            =form.submit "Search"
=render'shared/article', locals: {obj: @articles, ads: @randam_banner,row: @id } 
div align="center"
    =will_paginate
